<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloudApiPublicSamples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CloudApiPublicSamples.Properties.Settings>
            <setting name="SyncBoxFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncBoxId" serializeAs="String">
                <value />
            </setting>
            <setting name="UniqueDeviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="TempDownloadFolderFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseFolderFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceType" serializeAs="String">
                <value>CommunicationIncludeAuthorization, FileChangeFlow</value>
            </setting>
            <setting name="TraceFolderFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TraceExcludeAuthorization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceLevel" serializeAs="String">
                <value>9</value>
            </setting>
        </CloudApiPublicSamples.Properties.Settings>
    </userSettings>
</configuration>