<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CloudSdkSyncSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CloudSdkSyncSample.Properties.Settings>
            <setting name="SyncBoxFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncBoxId" serializeAs="String">
                <value />
            </setting>
            <setting name="UniqueDeviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="TempDownloadFolderFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseFolderFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceType" serializeAs="String">
                <value>Communication, FileChangeFlow</value>
            </setting>
            <setting name="TraceFolderFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TraceExcludeAuthorization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceLevel" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="HistoricUploadBandwidthBitsPS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistoricDownloadBandwidthBitsPS" serializeAs="String">
                <value>0</value>
            </setting>
        </CloudSdkSyncSample.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
                <bindingRedirect oldVersion="4.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0"/>
            <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.1, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        </DbProviderFactories>
    </system.data>
</configuration>
