<?xml version="1.0" encoding="utf-8"?>
<!--
  //
  // App.Config
  // Cloud Windows
  //
  // Created By DavidBruck.
  // Copyright (c) Cloud.com. All rights reserved.
-->
<configuration>
  <connectionStrings>
  <add name="IndexDBEntities" connectionString="metadata=res://SQLIndexer/IndexModel.csdl|res://SQLIndexer/IndexModel.ssdl|res://SQLIndexer/IndexModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\IndexDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>