<?xml version="1.0" encoding="utf-8" ?>
<SmokeTest xmlns="http://www.cloud.com/InputParameters.xsd"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.cloud.com InputParameters.xsd">
  <Copyright>
    <FileName>Settings.xml</FileName>
    <Copyright>Implementation of InputParameters.xsd XML Schema. Cloud. Copyright (c) Cloud.com. All rights reserved.</Copyright>
    <Creator>BobS</Creator>
  </Copyright>
  
  <InputParams>
    <API_Key>9a51759758e9a6f32d4e6ca74b8d2f8e5dd2a27033ac662c4d126a10471be50a</API_Key>
    <API_Secret>861eaad0786353868423114c241346ba18f6be0a7797422975cbf98a970a619d</API_Secret>
    <ActiveSync_Folder>"C:\Users\t_zacharyw\Cloud\"</ActiveSync_Folder>
    <ActiveSync_TraceFolder>"C:\TestSyncBoxes\Traces\AutoSyncTraces"</ActiveSync_TraceFolder>
    <ActiveSyncBoxID>372</ActiveSyncBoxID>
    <ManualSyncBoxID>372</ManualSyncBoxID>
    <ManualSync_Folder>"C:\Users\t_zacharyw\Cloud2\"</ManualSync_Folder>
    <ManualSync_TraceFolder>"C:\TestSyncBoxes\Traces\ManualSyncTraces"</ManualSync_TraceFolder>
    <Token></Token>
    <TraceLevel>5</TraceLevel>
    <TraceType>4</TraceType>
    <FileNameMappingFile>"C:\Users\t_zacharyw\Cloud\NamingConflicts.xml"</FileNameMappingFile>
  </InputParams>
  <Scenario>
    <ScenarioTasks>
      <!--<SmokeTask xsi:type="Comparison">
        <type>Comparison</type>
        <SyncType>Manual</SyncType>
        <ObjectType>
          <type>None</type>
        </ObjectType>
        <SelectedSyncBoxID>379</SelectedSyncBoxID>
      </SmokeTask>-->
      <SmokeTask xsi:type="CreateSyncBox">
        <type>CreateSyncBox</type>
        <SyncType>Manual</SyncType>
        <InnerTask xsi:type="Creation">
          <type>Creation</type>
          <SyncType>Manual</SyncType>
          <InnerTask xsi:type="Rename">
            <type>Rename</type>
            <SyncType>Manual</SyncType>
            <InnerTask xsi:type="Deletion">
              <type>Deletion</type>
              <SyncType>Manual</SyncType>
              <InnerTask xsi:type="Comparison">
                <type>Comparison</type>
                <SyncType>Manual</SyncType>
                <ObjectType>
                  <type>None</type>
                </ObjectType>
                <SelectedSyncBoxID>371</SelectedSyncBoxID>
              </InnerTask>
              <ObjectType>
                <type>File</type>
              </ObjectType>
              <SelectedSyncBoxID>0</SelectedSyncBoxID>
              <Name>T1File12.txt</Name>
              <FullName>C:\Users\t_zacharyw\Cloud2</FullName>
              <RelativePath>\T1File12.txt</RelativePath>
              <FullPath>C:\Users\t_zacharyw\Cloud2\T1File12.txt</FullPath>
              <DeleteAll>false</DeleteAll>
              <DeleteCount>1</DeleteCount>
              <ID>0</ID>
              <ServerID>0</ServerID>
            </InnerTask>
            <ObjectType>
              <type>File</type>
            </ObjectType>
            <SelectedSyncBoxID>0</SelectedSyncBoxID>
            <OldName>T1File.txt</OldName>
            <NewName>T1File_Rename.txt</NewName>
            <RelativeDirectoryPath>\</RelativeDirectoryPath>
            <ServerID>0</ServerID>
          </InnerTask>
          <ObjectType>
            <type>File</type>
          </ObjectType>
          <SelectedSyncBoxID>0</SelectedSyncBoxID>
          <Name>T1File.txt</Name>
          <Path>C:\Users\t_zacharyw\Cloud2</Path>
          <CreateNew>true</CreateNew>
          <Count>5</Count>
        </InnerTask>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <CreateNew>true</CreateNew>
        <Count>1</Count>
      </SmokeTask>
      <!--<SmokeTask xsi:type ="ListItems">
        <type>ListItems</type>
        <SyncType>Manual</SyncType>
        <InnerTask xsi:type="Deletion">
          <type>Deletion</type>
          <SyncType>Manual</SyncType>
          <InnerTask xsi:type="Creation">
            <type>Creation</type>
            <SyncType>Manual</SyncType>
            <InnerTask xsi:type="ListItems">
              <type>ListItems</type>
              <SyncType>Manual</SyncType>
              <ObjectType>
                <type>SyncBox</type>
              </ObjectType>
              <SelectedSyncBoxID>0</SelectedSyncBoxID>
              <ListType>SyncBoxes</ListType>
              <ExpectedCount>0</ExpectedCount>
            </InnerTask>
            <ObjectType>
              <type>SyncBox</type>
            </ObjectType>
            <SelectedSyncBoxID>6</SelectedSyncBoxID>
            <Name></Name>
            <Path></Path>
            <CreateNew>true</CreateNew>
            <Count>3</Count>
          </InnerTask>
          <ObjectType>
            <type>SyncBox</type>
          </ObjectType>
          <SelectedSyncBoxID>0</SelectedSyncBoxID>
          <Name></Name>
          <FullName></FullName>
          <RelativePath></RelativePath>
          <FullPath></FullPath>
          <DeleteAll>true</DeleteAll>
          <DeleteCount>5</DeleteCount>
          <ID>0</ID>
          <ServerID>0</ServerID>
        </InnerTask>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ListType>SyncBoxes</ListType>
        <ExpectedCount>0</ExpectedCount>
      </SmokeTask>-->
      <!--<SmokeTask xsi:type="DownloadAllSyncBoxContent">
        <type>DownloadAllSyncBoxContent</type>
        <SyncType>Manual</SyncType>
        <ObjectType>
          <type>None</type>
        </ObjectType>
        <SelectedSyncBoxID>372</SelectedSyncBoxID>
        <FolderPath>C:\Users\t_Zacharyw\Cloud2</FolderPath>
        <FilePath></FilePath>
      </SmokeTask>-->
  </ScenarioTasks> 
</Scenario>
</SmokeTest>
