<?xml version="1.0" encoding="utf-8" ?>
<SmokeTest xmlns="http://www.cloud.com/InputParameters.xsd"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.cloud.com InputParameters.xsd">
  <Copyright>
    <FileName>Settings.xml</FileName>
    <Copyright>Implementation of InputParameters.xsd XML Schema. Cloud. Copyright (c) Cloud.com. All rights reserved.</Copyright>
    <Creator>BobS</Creator>
  </Copyright>
  
  <InputParams>
    <API_Key>9a51759758e9a6f32d4e6ca74b8d2f8e5dd2a27033ac662c4d126a10471be50a</API_Key>
    <API_Secret>861eaad0786353868423114c241346ba18f6be0a7797422975cbf98a970a619d</API_Secret>
    <ActiveSync_Folder>"C:\Users\t_zacharyw\Cloud\"</ActiveSync_Folder>
    <ActiveSync_Folder2>"C:\Users\t_zacharyw\CloudActive2\"</ActiveSync_Folder2>
    <ActiveSync_TraceFolder>"C:\TestSyncBoxes\Traces\AutoSyncTraces"</ActiveSync_TraceFolder>
    <ActiveSyncBoxID>516</ActiveSyncBoxID>
    <ManualSyncBoxID>516</ManualSyncBoxID>
    <ManualSync_Folder>"C:\Users\t_zacharyw\Cloud2\"</ManualSync_Folder>
    <ManualSync_TraceFolder>"C:\TestSyncBoxes\Traces\ManualSyncTraces"</ManualSync_TraceFolder>
    <Token></Token>
    <TraceLevel>5</TraceLevel>
    <TraceType>4</TraceType>
    <FileNameMappingFile>"C:\Users\t_zacharyw\Cloud\NamingConflicts.xml"</FileNameMappingFile>
    <SettingsPath></SettingsPath>
  </InputParams>
  <Scenario>
    <!--<ScenarioTasks>
      <SmokeTask xsi:type="DownloadAllSyncBoxContent">
        <type>DownloadAllSyncBoxContent</type>
        <SyncType>Manual</SyncType>
        <ObjectType>
          <type>None</type>
        </ObjectType>
        <SelectedSyncBoxID>1296</SelectedSyncBoxID>
        <FolderPath>C:\Users\t_zacharyw\Cloud</FolderPath>
        <FilePath></FilePath>
      </SmokeTask>
      
    </ScenarioTasks>-->
    <!--<ScenarioTasks>
      <SmokeTask xsi:type="CreateSyncBox">
        <type>CreateSyncBox</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <CreateNew>true</CreateNew>
        <Count>1</Count>
      </SmokeTask>
      <SmokeTask xsi:type="Creation">
        <type>Creation</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>File</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <Name>ANewAttempt.txt</Name>
        <Path>C:\Users\t_zacharyw\Cloud\SomeNewPlace</Path>
        <CreateNew>true</CreateNew>
        <Count>5</Count>
        <ActInTwoFolders>false</ActInTwoFolders>
      </SmokeTask>
      <SmokeTask xsi:type="Creation">
        <type>Creation</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>Folder</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <Name>AnotherFolder</Name>
        <Path>\</Path>
        <CreateNew>true</CreateNew>
        <ActInTwoFolders>false</ActInTwoFolders>
      </SmokeTask>
    </ScenarioTasks>-->
    <ScenarioTasks>
      <SmokeTask xsi:type="Deletion">
        <type>Deletion</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <DeleteAll>true</DeleteAll>
      </SmokeTask>
      <SmokeTask xsi:type="Deletion">
        <type>Deletion</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>Session</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <DeleteAll>true</DeleteAll>
      </SmokeTask>
      <SmokeTask xsi:type="CreateSyncBox">
        <type>CreateSyncBox</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <CreateNew>true</CreateNew>
        <Count>5</Count>
      </SmokeTask>
      <SmokeTask xsi:type="Creation">
        <type>Creation</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>Session</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <Name></Name>
        <Path></Path>
        <CreateNew>true</CreateNew>
        <Count>5</Count>
      </SmokeTask>
      <SmokeTask xsi:type="ListItems">
        <type>ListItems</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ListType>SyncBoxes</ListType>
        <ExpectedCount>5</ExpectedCount>
      </SmokeTask>
      <SmokeTask xsi:type="ListItems">
        <type>ListItems</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>Session</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ListType>Sessions</ListType>
        <ExpectedCount>5</ExpectedCount>
      </SmokeTask>
      <SmokeTask xsi:type="Rename">
        <type>Rename</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <AtIndex>0</AtIndex>
        <OldName></OldName>
        <NewName>MakeMeAwesome</NewName>
      </SmokeTask>
      <SmokeTask xsi:type="Rename">
        <type>Rename</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <AtIndex>1</AtIndex>
        <OldName></OldName>
        <NewName>MakeMeMoreAwesome</NewName>
      </SmokeTask>
      <SmokeTask xsi:type="Rename">
        <type>Rename</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <AtIndex>2</AtIndex>
        <OldName></OldName>
        <NewName>MakeMeTheBest</NewName>
      </SmokeTask>
      <SmokeTask xsi:type="Deletion">
        <type>Deletion</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>Session</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <DeleteCount>2</DeleteCount>
      </SmokeTask>
      <SmokeTask xsi:type="Deletion">
        <type>Deletion</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <AtIndex>4</AtIndex>
      </SmokeTask>
      <SmokeTask xsi:type="ListItems">
        <type>ListItems</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ListType>Sessions</ListType>
        <ExpectedCount>3</ExpectedCount>
      </SmokeTask>
      <SmokeTask xsi:type="ListItems">
        <type>ListItems</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ListType>SyncBoxes</ListType>
        <ExpectedCount>4</ExpectedCount>
      </SmokeTask>
      <SmokeTask xsi:type="CreateSyncBox">
        <type>CreateSyncBox</type>
        <SyncType>Manual</SyncType>
        <InnerTask xsi:type="Creation">
          <type>Creation</type>
          <SyncType>Manual</SyncType>
          <InnerTask xsi:type="Creation">
            <type>Creation</type>
            <SyncType>Manual</SyncType>
            <InnerTask xsi:type="Creation">
              <type>Creation</type>
              <SyncType>Manual</SyncType>
              <ObjectType>
                <type>File</type>
              </ObjectType>
              <SelectedSyncBoxID>0</SelectedSyncBoxID>
              <Name>MyFileIsCool.txt</Name>
              <Path>C:\Users\t_zacharyw\Cloud2\TerriblyAwesome\</Path>
              <CreateNew>true</CreateNew>
              <Count>5</Count>
            </InnerTask>
            <ObjectType>
              <type>File</type>
            </ObjectType>
            <SelectedSyncBoxID>0</SelectedSyncBoxID>
            <Name>TheseFilesAreAwesome.txt</Name>
            <Path>C:\Users\t_zacharyw\Cloud2\NotSoCool\</Path>
            <CreateNew>true</CreateNew>
            <Count>5</Count>
          </InnerTask>
          <ObjectType>
            <type>File</type>
          </ObjectType>
          <SelectedSyncBoxID>0</SelectedSyncBoxID>
          <Name>CouldThisBeCool.txt</Name>
          <Path>C:\Users\t_zacharyw\Cloud2</Path>
          <CreateNew>true</CreateNew>
          <Count>3</Count>
        </InnerTask>
        <ObjectType>
          <type>SyncBox</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <CreateNew>true</CreateNew>
        <Count>1</Count>
      </SmokeTask>
      <SmokeTask xsi:type="Comparison">
        <type>Comparison</type>
        <SyncType>Manual</SyncType>
        <ObjectType>
          <type>None</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ComparisonType>ManualToActive</ComparisonType>
        <UseDynamicSyncBox>true</UseDynamicSyncBox>
      </SmokeTask>
      <SmokeTask xsi:type="Comparison">
        <type>Comparison</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>None</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ComparisonType>ActiveToServer</ComparisonType>
        <UseDynamicSyncBox>true</UseDynamicSyncBox>
      </SmokeTask>
      <SmokeTask xsi:type ="Rename">
        <type>Rename</type>
        <SyncType>Manual</SyncType>
        <ObjectType>
          <type>Folder</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <OldName>TerriblyAwesome</OldName>
        <NewName>NothingTerrible</NewName>
        <RelativeDirectoryPath>\</RelativeDirectoryPath>
        <ServerID>0</ServerID>
      </SmokeTask>
      <SmokeTask xsi:type ="Rename">
        <type>Rename</type>
        <SyncType>Manual</SyncType>
        <ObjectType>
          <type>File</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <OldName>CouldThisBeCool.txt</OldName>
        <NewName>AwesomeRename</NewName>
        <RelativeDirectoryPath>\NothingTerrible\</RelativeDirectoryPath>
        <ServerID>0</ServerID>
      </SmokeTask>
      <SmokeTask xsi:type="Comparison">
        <type>Comparison</type>
        <SyncType>Manual</SyncType>
        <ObjectType>
          <type>None</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ComparisonType>ManualToActive</ComparisonType>
        <UseDynamicSyncBox>true</UseDynamicSyncBox>
        <ShouldWait>true</ShouldWait>
      </SmokeTask>
      <SmokeTask xsi:type="Comparison">
        <type>Comparison</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>None</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ComparisonType>ActiveToServer</ComparisonType>
        <UseDynamicSyncBox>true</UseDynamicSyncBox>
        <ShouldWait>false</ShouldWait>
      </SmokeTask>
      <SmokeTask xsi:type="Rename">
        <type>Rename</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>File</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <OldName>CouldThisBeCoo1.txt</OldName>
        <NewName>MyNewestName</NewName>
        <RelativeDirectoryPath>\</RelativeDirectoryPath>
        <ActInTwoFolders>true</ActInTwoFolders>
      </SmokeTask>
      <SmokeTask xsi:type="Comparison">
        <type>Comparison</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>None</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ComparisonType>ActiveToActive</ComparisonType>
        <UseDynamicSyncBox>true</UseDynamicSyncBox>
        <ShouldWait>true</ShouldWait>
      </SmokeTask>
    </ScenarioTasks>
      <!--<SmokeTask xsi:type="LoginRegister">
        <type>LoginRegister</type>
        <SyncType>Account</SyncType>
        <ObjectType>
          <type>Account</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <Username>ANewUser1</Username>
        <Password>Password#1</Password>
        <ActionType>Login</ActionType>
      </SmokeTask>-->
    <!--<SmokeTask xsi:type="Comparison">
        <type>Comparison</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>None</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ComparisonType>ActiveToActive</ComparisonType>
        <UseDynamicSyncBox>true</UseDynamicSyncBox>
        <ShouldWait>false</ShouldWait>
      </SmokeTask>-->
    <!--
      <SmokeTask xsi:type ="Rename">
        <type>Rename</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>Folder</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <OldName>NotSoCool</OldName>
        <NewName>ReallyReallyCool</NewName>
        <RelativeDirectoryPath>\</RelativeDirectoryPath>
        <ServerID>0</ServerID>
      </SmokeTask>
      <SmokeTask xsi:type ="Rename">
        <type>Rename</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>File</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <OldName>TheseFilesAreAwesome.txt</OldName>
        <NewName>AwesomeRename</NewName>
        <RelativeDirectoryPath>\ReallyReallyCool\</RelativeDirectoryPath>
        <ServerID>0</ServerID>
      </SmokeTask>
      <SmokeTask xsi:type="Comparison">
        <type>Comparison</type>
        <SyncType>Active</SyncType>
        <ObjectType>
          <type>None</type>
        </ObjectType>
        <SelectedSyncBoxID>0</SelectedSyncBoxID>
        <ComparisonType>ActiveToServer</ComparisonType>
        <UseDynamicSyncBox>true</UseDynamicSyncBox>
        <ShouldWait>true</ShouldWait>
      </SmokeTask>
    </ScenarioTasks>-->
  </Scenario>
</SmokeTest>
